In [1]:
import pandas as pd
from pandas import DataFrame, Series
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import random

import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
TRIP_FILE = ('201508_trip_data.csv')
#WEATHER = ('201508_weather_data.csv')
#STATION_BALANCE = ('201508_status_data.csv')
STATION_DATA = ('201508_station_data.csv')

trip_data = pd.read_csv(TRIP_FILE)
#weather_data = pd.read_csv(WEATHER)
#station_balance_data = pd.read_csv(STATION_BALANCE)
station_data = pd.read_csv(STATION_DATA)

trip_data.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139
1,913459,1036,8/31/2015 23:11,San Antonio Shopping Center,31,8/31/2015 23:28,Mountain View City Hall,27,35,Subscriber,95032
2,913455,307,8/31/2015 23:13,Post at Kearny,47,8/31/2015 23:18,2nd at South Park,64,468,Subscriber,94107
3,913454,409,8/31/2015 23:10,San Jose City Hall,10,8/31/2015 23:17,San Salvador at 1st,8,68,Subscriber,95113
4,913453,789,8/31/2015 23:09,Embarcadero at Folsom,51,8/31/2015 23:22,Embarcadero at Sansome,60,487,Customer,9069

In [3]:
station_data_sf = station_data[station_data.landmark == 'San Francisco']
station_data_sf.head()

,station_id,name,lat,long,dockcount,landmark,installation
32,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013
33,42,Davis at Jackson,37.797280,-122.398436,15,San Francisco,8/19/2013
34,45,Commercial at Montgomery,37.794231,-122.402923,15,San Francisco,8/19/2013
35,46,Washington at Kearney,37.795425,-122.404767,15,San Francisco,8/19/2013
36,47,Post at Kearney,37.788975,-122.403452,19,San Francisco,8/19/2013

In [4]:
trip_data = trip_data.merge(station_data[['station_id', 'lat', 'long', 'landmark']], left_on = 'Start Terminal', right_on = 'station_id')
#trip_data.join(station_data, on='station_id')
trip_data = trip_data.merge(station_data[['station_id', 'lat', 'long']], left_on = 'End Terminal', right_on = 'station_id')

trip_data.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code,station_id_x,lat_x,long_x,landmark,station_id_y,lat_y,long_y
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
1,913228,886,8/31/2015 18:47,Harry Bridges Plaza (Ferry Building),50,8/31/2015 19:02,San Francisco Caltrain (Townsend at 4th),70,387,Subscriber,94107,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
2,913009,725,8/31/2015 17:40,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:53,San Francisco Caltrain (Townsend at 4th),70,360,Subscriber,94111,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
3,912956,1034,8/31/2015 17:31,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:48,San Francisco Caltrain (Townsend at 4th),70,587,Subscriber,94087,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
4,912776,871,8/31/2015 16:50,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:04,San Francisco Caltrain (Townsend at 4th),70,371,Subscriber,94070,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526

In [5]:
trip_data_sf = trip_data[trip_data.landmark == 'San Francisco']
trip_data_sf.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code,station_id_x,lat_x,long_x,landmark,station_id_y,lat_y,long_y
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
1,913228,886,8/31/2015 18:47,Harry Bridges Plaza (Ferry Building),50,8/31/2015 19:02,San Francisco Caltrain (Townsend at 4th),70,387,Subscriber,94107,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
2,913009,725,8/31/2015 17:40,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:53,San Francisco Caltrain (Townsend at 4th),70,360,Subscriber,94111,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
3,912956,1034,8/31/2015 17:31,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:48,San Francisco Caltrain (Townsend at 4th),70,587,Subscriber,94087,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
4,912776,871,8/31/2015 16:50,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:04,San Francisco Caltrain (Townsend at 4th),70,371,Subscriber,94070,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526

In [7]:
trip_data_sf.rename(columns={'station_id_x': 'start_station', 'lat_x': 'start_lat', 'long_x': 'start_long', 'station_id_y': 'end_station', 'lat_y': 'end_lat', 'long_y': 'end_long'}, inplace=True)
#trip_data_sf.drop('name', axis=1, inplace=True)
trip_data_sf.head()

/Users/mattsarni/anaconda/lib/python3.4/site-packages/pandas/core/frame.py:2642: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code,start_station,start_lat,start_long,landmark,end_station,end_lat,end_long
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
1,913228,886,8/31/2015 18:47,Harry Bridges Plaza (Ferry Building),50,8/31/2015 19:02,San Francisco Caltrain (Townsend at 4th),70,387,Subscriber,94107,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
2,913009,725,8/31/2015 17:40,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:53,San Francisco Caltrain (Townsend at 4th),70,360,Subscriber,94111,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
3,912956,1034,8/31/2015 17:31,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:48,San Francisco Caltrain (Townsend at 4th),70,587,Subscriber,94087,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526
4,912776,871,8/31/2015 16:50,Harry Bridges Plaza (Ferry Building),50,8/31/2015 17:04,San Francisco Caltrain (Townsend at 4th),70,371,Subscriber,94070,50,37.795392,-122.394203,San Francisco,70,37.776617,-122.39526

In [8]:
list(trip_data_sf.columns.values)

['Trip ID',
 'Duration',
 'Start Date',
 'Start Station',
 'Start Terminal',
 'End Date',
 'End Station',
 'End Terminal',
 'Bike #',
 'Subscriber Type',
 'Zip Code',
 'start_station',
 'start_lat',
 'start_long',
 'landmark',
 'end_station',
 'end_lat',
 'end_long']

In [17]:
import scipy
from scipy.spatial import distance

In [84]:
XA = np.array([trip_data_sf['start_lat'], trip_data_sf['start_long']])
print(XA)
XB = np.array([trip_data_sf['end_lat'], trip_data_sf['end_long']])
print(XB)
trip_data_sf['distance'] = scipy.spatial.distance.cdist(XA, XB, metric='euclidean')

[[  37.795392   37.795392   37.795392 ...,   37.783871   37.792251
    37.786305]
 [-122.394203 -122.394203 -122.394203 ..., -122.408433 -122.397086
  -122.404966]]
[[  37.776617   37.776617   37.776617 ...,   37.400443   37.491269
    37.48537 ]
 [-122.39526  -122.39526  -122.39526  ..., -122.108338 -122.236234
  -122.203288]]

ValueError: Length of values does not match length of index

In [5]:
#Converting 'str' objects to 'int'in col='Duration'
#list(map(int, trip_data['Duration']))

In [32]:
#Converting to datetime
#trip_data['Start Date'] = pd.to_datetime(trip_data['Start Date'])
#trip_data['End Date'] = pd.to_datetime(trip_data['End Date'])

In [35]:
#station_balance_data.time = pd.to_datetime(station_balance_data.time)